@charset "UTF-8";
/* CSS Document */
/*
	웹퍼블리싱팀
	use: 공통스타일
*/
@import url(webfont.css);
* {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

html, body {
  font-family: "NEXON Lv2 Gothic", "dotum", "verdana";
  color: #666;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  word-break: break-all;
}

img {
  border: 0px;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

p, form {
  margin: 0px;
  padding: 0px;
}

ul, dl {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

dl dt {
  margin: 0px;
  padding: 0px;
}

ul li {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

ol li {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

.hidden {
  display: none;
}

strong {
  font-weight: normal;
}

pre {
  font-family: "NEXON Lv2 Gothic";
  word-break: break-all;
}

table th {
  font-weight: 400;
}

fieldset {
  border: none;
}

fieldset legend {
  display: none;
}

table caption {
  display: none;
}

hr {
  display: none;
}

a {
  color: #222;
  text-decoration: none;
}

button {
  border: 0;
  background: none;
  font-family: "NEXON Lv2 Gothic";
  cursor: pointer;
  padding: 0;
}

button span {
  position: relative;
}

select {
  display: inline-block;
  border: 1px solid #d6d6d6;
  color: #767676;
  font-family: "NEXON Lv2 Gothic";
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
}

option {
  display: block !important;
  cursor: pointer;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
  -webkit-shadow: none;
  border: 1px solid #bbb;
  color: #2b2b2b;
  width: 100%;
  padding: 10px;
  font-family: "NEXON Lv2 Gothic";
  box-sizing: border-box;
}

input[type=text],
input[type=password] {
  border: solid 1px #d6d6d6;
  padding: 5px 10px;
  vertical-align: middle;
  font-family: "NEXON Lv2 Gothic";
  color: #2b2b2b;
  font-size: 16px;
  -webkit-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=radio] {
  vertical-align: middle;
}

input[type=check] {
  vertical-align: middle;
}

input[type=file] {
  vertical-align: middle;
  width: 300px;
  border: 1px solid #d4d4d4;
}

input[type=date] {
  font-family: "NEXON Lv2 Gothic";
}

input[type=text]::-ms-clear {
  display: none;
}

.skip_menu, .hide {
  display: none;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.border_none {
  border: none;
  background-image: none;
}

ul li.border_none {
  border: none;
  background-image: none;
}

/*
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb {background-color: #888;}
*/
td.align_left {
  text-align: left;
  padding-left: 10px !important;
}

.alignl {
  text-align: left !important;
}

/**/
.touchDis {
  touch-action: none;
  overflow: hidden;
  position: relative;
}

.hdtext {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 0;
  left: -99999px;
}

::-webkit-input-placeholder {
  color: #b4b6be;
  font-weight: bold;
}

::-moz-input-placeholder {
  color: #b4b6be;
  font-weight: bold;
}

:-ms-input-placeholder {
  color: #b4b6be;
  font-weight: bold;
}

::-ms-input-placeholder {
  color: #b4b6be;
  font-weight: bold;
}

::input-placeholder {
  color: #b4b6be;
  font-weight: bold;
}
/*# sourceMappingURL=reset.css.map */
