@charset "UTF-8";
/* CSS Document */
html, body {
  min-height: 100%;
}

.front_body {
<<<<<<< Updated upstream
  min-width: 280px;
=======
  min-width: 17.5rem;
>>>>>>> Stashed changes
}

.front_body.type2 {
  background: #fafaff;
}

/* splash */
.splash_body.first_page {
  background: #4144f2;
<<<<<<< Updated upstream
  max-width: 360px;
=======
  max-width: 22.5rem;
>>>>>>> Stashed changes
  margin: 0 auto;
}

.splash_wrap {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  line-height: 0;
  min-height: 100vh;
}

.splash_wrap > img {
  display: inline-block;
  width: 54.4444444444%;
}

.splash_body.has_swiper_page {
  background: #fafaff;
}

.swiper-container-splash-wrap {
<<<<<<< Updated upstream
  padding-bottom: 80px;
=======
  padding-bottom: 5rem;
>>>>>>> Stashed changes
}

.swiper-splash-logo-low {
  text-align: center;
<<<<<<< Updated upstream
  margin: 54px auto 0;
  max-width: 360px;
=======
  margin: 3.375rem auto 0;
  max-width: 22.5rem;
>>>>>>> Stashed changes
}

.swiper-splash-logo-low img {
  vertical-align: top;
  display: inline-block;
  width: 46.1111111111%;
}

.swiper_splash_imglow {
<<<<<<< Updated upstream
  margin: 92px auto 0;
=======
  margin: 5.75rem auto 0;
>>>>>>> Stashed changes
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.swiper_splash_imglow > img {
  vertical-align: top;
}

.swiper_splash_imglow.type2 {
<<<<<<< Updated upstream
  margin-top: 55px;
}

.swiper_splash_imglow.type3 {
  margin-top: 99px;
=======
  margin-top: 3.4375rem;
}

.swiper_splash_imglow.type3 {
  margin-top: 6.1875rem;
>>>>>>> Stashed changes
}

.swiper_splash_imglow > img {
  width: 100%;
}

.swiper_splash_speclow {
  text-align: center;
  color: #111111;
<<<<<<< Updated upstream
  margin-top: 38px;
}

.splash_spec01 {
  font-size: 18px;
}

.splash_spec02 {
  margin-top: 12px;
  font-size: 24px;
=======
  margin-top: 2.375rem;
}

.splash_spec01 {
  font-size: 1.125rem;
}

.splash_spec02 {
  margin-top: 0.75rem;
  font-size: 1.5rem;
>>>>>>> Stashed changes
  line-height: 1.08;
  font-weight: 700;
  font-family: "NEXON Lv2 Gothic Bold";
}

.splash_value {
  font-family: "GmarketSansBold";
}

.swiper_splash_btnlow {
<<<<<<< Updated upstream
  margin: 72px 24px 0;
}

.swiper_splash_btnlow .btn_quadbox {
  margin-bottom: 16px;
=======
  margin: 4.5rem 1.5rem 0;
}

.swiper_splash_btnlow .btn_quadbox {
  margin-bottom: 1rem;
>>>>>>> Stashed changes
}

.swiper_splash_btnlow .btn_quadbox:last-of-type {
  margin-bottom: 0;
}

.btn_quadbox {
<<<<<<< Updated upstream
  font-size: 18px;
=======
  font-size: 1.125rem;
>>>>>>> Stashed changes
  line-height: 1;
  display: block;
  width: 100%;
  color: #fff;
  font-family: "NEXON Lv2 Gothic Bold";
  text-align: center;
<<<<<<< Updated upstream
  padding: 16px 16px 15px;
  border-radius: 8px;
=======
  padding: 1rem 1rem 0.9375rem;
  border-radius: 0.5rem;
>>>>>>> Stashed changes
  border: 0.0625rem solid #4144f2;
  background: #4144f2;
  box-sizing: border-box;
}

.btn_quadbox.dtype2 {
  background: transparent;
  color: #4144f2;
}

.btn_quadbox.dtype3 {
  border-color: #c5c5d0;
<<<<<<< Updated upstream
  font-size: 16px;
=======
  font-size: 1rem;
>>>>>>> Stashed changes
  color: #47474b;
  background: #fff;
}

.btn_quadbox:disabled {
  background: #e0e0e5;
  border-color: #e0e0e5;
}

.btn_quadbox.smtype2 {
<<<<<<< Updated upstream
  padding: 14px 12px 13px;
  font-size: 14px;
  border-radius: 8px;
=======
  padding: 0.875rem 0.75rem 0.8125rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
>>>>>>> Stashed changes
  font-weight: bold;
  font-family: "NEXON Lv2 Gothic";
}

.swiper-pagination.splash-paging {
  position: fixed;
<<<<<<< Updated upstream
  bottom: 36px;
=======
  bottom: 2.25rem;
>>>>>>> Stashed changes
  left: 0;
  width: 100%;
  font-size: 0;
  line-height: 0;
}

.swiper-pagination.splash-paging .swiper-pagination-bullet {
<<<<<<< Updated upstream
  width: 8px;
  height: 8px;
  background: #e0e0e5;
  opacity: 1;
  margin: 0 4px;
=======
  width: 0.5rem;
  height: 0.5rem;
  background: #e0e0e5;
  opacity: 1;
  margin: 0 0.25rem;
>>>>>>> Stashed changes
}

.swiper-pagination.splash-paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #4144f2;
}

/* 완료 */
.finish_logo {
  text-align: center;
<<<<<<< Updated upstream
  margin: 54px auto 0;
  max-width: 360px;
=======
  margin: 3.375rem auto 0;
  max-width: 22.5rem;
>>>>>>> Stashed changes
  text-align: center;
}

.finish_logo > img {
  display: inline-block;
  width: 46.1111111111%;
  vertical-align: top;
}

.finish_imgobj {
<<<<<<< Updated upstream
  margin: 74px 45px 30px;
=======
  margin: 4.625rem 2.8125rem 1.875rem;
>>>>>>> Stashed changes
  text-align: center;
}

.finish_speclow {
  text-align: center;
  color: #111111;
}

.finish_spec01 {
<<<<<<< Updated upstream
  font-size: 24px;
=======
  font-size: 1.5rem;
>>>>>>> Stashed changes
  line-height: 1.08;
  font-weight: 700;
  font-family: "NEXON Lv2 Gothic Bold";
}

.finish_spec02 {
<<<<<<< Updated upstream
  font-size: 13px;
  margin-top: 15px;
=======
  font-size: 0.8125rem;
  margin-top: 0.9375rem;
>>>>>>> Stashed changes
}

/* common */
.btn_botpos_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
<<<<<<< Updated upstream
  min-width: 280px;
=======
  min-width: 17.5rem;
>>>>>>> Stashed changes
}

.btn_botpos_wrap.postype2 {
  position: static !important;
}

.win .btn_botpos_wrap.postype2 {
  position: fixed !important;
}

.botpos_in {
<<<<<<< Updated upstream
  padding: 24px;
}

body ::-webkit-scrollbar {
  width: 10px;
=======
  padding: 1.5rem;
}

body ::-webkit-scrollbar {
  width: 0.625rem;
>>>>>>> Stashed changes
}

body ::-webkit-scrollbar-thumb {
  background-color: #ccc;
<<<<<<< Updated upstream
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
=======
  border-radius: 0.625rem;
  background-clip: padding-box;
  border: 0.125rem solid transparent;
>>>>>>> Stashed changes
}

body ::-webkit-scrollbar-track {
  background-color: transparent;
<<<<<<< Updated upstream
  border-radius: 10px;
  box-shadow: inset 0rem 0rem 5px transparent;
}

.page_header {
  height: 55px;
=======
  border-radius: 0.625rem;
  box-shadow: inset 0rem 0rem 0.3125rem transparent;
}

.page_header {
  height: 3.4375rem;
>>>>>>> Stashed changes
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
<<<<<<< Updated upstream
  padding: 0 66px;
=======
  padding: 0 4.125rem;
>>>>>>> Stashed changes
}

.page_header.type2 {
  height: auto;
<<<<<<< Updated upstream
  min-height: 55px;
=======
  min-height: 3.4375rem;
>>>>>>> Stashed changes
  display: block;
  padding: 0;
  text-align: left;
  background: #4144f2;
  position: relative;
}

.page_header.type2:before {
  display: block;
  content: "";
  width: 100%;
<<<<<<< Updated upstream
  height: calc(100% + 52px);
=======
  height: calc(100% + 3.25rem);
>>>>>>> Stashed changes
  background: #4144f2;
  position: absolute;
  top: 0;
  left: 0;
<<<<<<< Updated upstream
  border-radius: 0 0 14px 14px;
=======
  border-radius: 0 0 0.875rem 0.875rem;
>>>>>>> Stashed changes
}

.page_header.type2 > * {
  position: relative;
  z-index: 1;
}

.page_header.type2 .btn_back {
  position: relative;
  top: 0;
  left: 0;
  background-image: url("../images/ico_back_w.png");
}

.btn_back {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
<<<<<<< Updated upstream
  width: 66px;
  height: 55px;
  background: url("../images/ico_back.png") no-repeat 50% 50%/20.5008px auto;
}

.page_headtitle {
  font-size: 18px;
=======
  width: 4.125rem;
  height: 3.4375rem;
  background: url("../images/ico_back.png") no-repeat 50% 50%/1.2813rem auto;
}

.page_headtitle {
  font-size: 1.125rem;
>>>>>>> Stashed changes
  line-height: 1;
  font-weight: bold;
  color: #000;
}

.page_midsection {
<<<<<<< Updated upstream
  padding: 35px 24px 80px;
}

.page_midsection.dtype2 {
  padding-top: 20px;
=======
  padding: 2.1875rem 1.5rem 5rem;
}

.page_midsection.dtype2 {
  padding-top: 1.25rem;
>>>>>>> Stashed changes
}

.page_midsection.dtype3 {
  padding-top: 0;
}

.page_midsection.dtype4 {
<<<<<<< Updated upstream
  padding-top: 25px;
}

.page_midsection.dtype5 {
  padding: 25px 0 0 0;
}

.head_dtitle_inwrap {
  padding: 30px 26px;
}

.head_dtitle {
  font-size: 26px;
=======
  padding-top: 1.5625rem;
}

.page_midsection.dtype5 {
  padding: 1.5625rem 0 0 0;
}

.head_dtitle_inwrap {
  padding: 1.875rem 1.625rem;
}

.head_dtitle {
  font-size: 1.625rem;
>>>>>>> Stashed changes
  color: #fff;
}

.head_dtitle strong {
  font-family: "NEXON Lv2 Gothic Bold";
}

.page_wrap.has_bgobj .page_midsection {
  position: relative;
  z-index: 5;
  padding-top: 0;
}

/* layer */
.dimlayer_z {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
<<<<<<< Updated upstream
  min-width: 280px;
=======
  min-width: 17.5rem;
>>>>>>> Stashed changes
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  align-items: center;
  justify-content: center;
}

.dimlayer_z.active {
  display: flex;
}

.dimlayer_z.active.motion .botpos_vlayer {
  transform: translateY(0);
}

.dimlayer_z.active.motion .modal_layerbox_w {
  opacity: 1;
}

.dimlayer_z.active.motion .bg_dim {
  opacity: 0.3;
}

.dimlayer_z.define_bot {
  align-items: flex-end;
  overflow: hidden;
}

.bg_dim {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #000000;
  opacity: 0;
  transition: 0.4s;
}

.botpos_vlayer {
  background: #fff;
  width: 100%;
<<<<<<< Updated upstream
  border-radius: 12px 12px 0 0;
=======
  border-radius: 0.75rem 0.75rem 0 0;
>>>>>>> Stashed changes
  transform: translateY(100%);
  transition: 0.4s;
  position: relative;
  z-index: 15;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
<<<<<<< Updated upstream
  max-height: calc(100% - 55px);
}

.botpos_vtitlow {
  padding: 26px 60px 26px 24px;
=======
  max-height: calc(100% - 3.4375rem);
  overflow-y: auto;
}

.botpos_vtitlow {
  padding: 1.625rem 3.75rem 1.625rem 1.5rem;
>>>>>>> Stashed changes
  flex: 0;
}

.botpos_vtit {
<<<<<<< Updated upstream
  font-size: 18px;
=======
  font-size: 1.125rem;
>>>>>>> Stashed changes
  line-height: 1;
  font-family: "NEXON Lv2 Gothic Bold";
  color: #000;
}

.botpos_vcontlow {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
<<<<<<< Updated upstream
  padding: 0 24px 26px;
=======
  padding: 0 1.5rem 1.625rem;
>>>>>>> Stashed changes
  flex: 1;
}

.form_option_vlist > li:last-of-type {
  margin-bottom: 0;
}

.form_option {
  display: block;
<<<<<<< Updated upstream
  font-size: 16px;
  color: #111;
  font-weight: bold;
  padding: 15px 0;
=======
  font-size: 1rem;
  color: #111;
  font-weight: bold;
  padding: 0.9375rem 0;
>>>>>>> Stashed changes
}

.modal_layerbox_w {
  background: #fff;
<<<<<<< Updated upstream
  border-radius: 12px;
=======
  border-radius: 0.75rem;
>>>>>>> Stashed changes
  z-index: 15;
  position: relative;
  width: 100%;
  box-sizing: border-box;
<<<<<<< Updated upstream
  padding: 20px;
  margin: 20px;
=======
  padding: 1.25rem;
  margin: 1.25rem;
>>>>>>> Stashed changes
  transition: 0.4s;
  opacity: 0;
}

.modal_message {
<<<<<<< Updated upstream
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  padding: 25px 20px 40px;
=======
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  padding: 1.5625rem 1.25rem 2.5rem;
>>>>>>> Stashed changes
  color: #111;
}

.btn_modalcell_fxwrap {
  display: flex;
<<<<<<< Updated upstream
  margin: 0 -6px;
=======
  margin: 0 -0.375rem;
>>>>>>> Stashed changes
}

.btn_modalcell {
  flex: 1;
  display: flex;
  align-items: center;
<<<<<<< Updated upstream
  padding: 0 6px;
}

.btn_modalcell .btn_quadbox {
  padding: 12px 12px 11px;
=======
  padding: 0 0.375rem;
}

.btn_modalcell .btn_quadbox {
  padding: 0.75rem 0.75rem 0.6875rem;
>>>>>>> Stashed changes
  width: 100%;
}

.btn_botpos_inwrap .btn_quadbox {
  width: 100%;
}

.btn_botpos_close {
  display: block;
<<<<<<< Updated upstream
  width: 40px;
  height: 40px;
  position: absolute;
  top: 14px;
  right: 10px;
=======
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0.875rem;
  right: 0.625rem;
>>>>>>> Stashed changes
  font-size: 0;
  line-height: 0;
}

.btn_botpos_close:before,
.btn_botpos_close:after {
<<<<<<< Updated upstream
  width: 20px;
  height: 2px;
=======
  width: 1.25rem;
  height: 0.125rem;
>>>>>>> Stashed changes
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
<<<<<<< Updated upstream
  margin: -1px 0 0 -10px;
=======
  margin: -0.0625rem 0 0 -0.625rem;
>>>>>>> Stashed changes
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
}

.btn_botpos_close:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btn_botpos_close:after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

<<<<<<< Updated upstream
@media (min-width: 64rem) {
  .modal_layerbox_w {
    max-width: 320px;
=======
.bvconfirm_item {
  padding-top: 2.9375rem;
}

.bvico_w {
  max-width: 7.5rem;
  margin: 0 auto;
}

.bvico_w.define_phone .bvico {
  background-image: url("../images/bio_obj.png");
  background-size: 100% auto;
  padding-bottom: 116.6666666667%;
}

.bvico {
  display: block;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

.bvspec_w {
  margin: 2.8125rem 1.25rem 0;
  text-align: center;
}

.bvspec_siglow {
  font-size: 1.375rem;
  color: #111;
  line-height: 1;
  font-weight: bold;
}

.bvspec_siglow strong {
  font-family: "NEXON Lv2 Gothic Bold";
  font-weight: normal;
}

.bvspec_sublow {
  font-size: 0.8125rem;
  color: #838289;
  line-height: 1.5;
  margin-top: 1.25rem;
}

.btn_botpos_fxwrap {
  display: flex;
  margin: 4.25rem 1rem 1.5625rem;
}

.btn_botpos_fxwrap .btn_quadbox {
  flex: 1;
  margin: 0 0.5rem;
}

.btn_botpos_fxwrap.type2 {
  margin-top: 5.75rem;
}

.bvwarn_w {
  margin-top: 5rem;
}

.bvwarn_w:before {
  display: block;
  content: "";
  width: 2.625rem;
  height: 2.625rem;
  background: url("../images/ico_warn2.png") no-repeat 0 0/100% auto;
  margin: 0 auto;
}

.bvwarn_sigment {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  color: #111;
  word-break: keep-all;
  margin: 2rem 1.875rem 0;
  text-align: center;
}

@media (min-width: 64rem) {
  .modal_layerbox_w {
    max-width: 20rem;
>>>>>>> Stashed changes
    margin: 0 auto;
  }
}
/* form */
.form_veritem {
<<<<<<< Updated upstream
  margin-bottom: 36px;
=======
  margin-bottom: 2.25rem;
>>>>>>> Stashed changes
}

.form_veritem:last-of-type {
  margin-bottom: 0;
}

.form_verlabel {
<<<<<<< Updated upstream
  font-size: 12px;
=======
  font-size: 0.75rem;
>>>>>>> Stashed changes
  line-height: 1;
  color: #111;
}

.form_field {
  border-bottom: 0.0625rem solid #e0e0e5;
  position: relative;
}

.form_field.active {
  border-bottom-color: #4144f2;
}

.form_field.active:after {
  display: block;
  content: "";
  width: 100%;
  height: 0.0625rem;
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  background: #4144f2;
}

input.form_input {
  border: 0;
<<<<<<< Updated upstream
  height: 42px;
  color: #111;
  font-weight: bold;
  line-height: 1;
  font-size: 16px;
=======
  height: 2.625rem;
  color: #111;
  font-weight: bold;
  line-height: 1;
  font-size: 1rem;
>>>>>>> Stashed changes
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.form_inwrap {
  display: flex;
  align-items: center;
}

.form_incell_long {
  flex: 1;
}

.form_incell_long.etri_text {
  display: flex;
}

.form_incell_long.etri_text > .form_field {
<<<<<<< Updated upstream
  flex: 0 0 45px;
=======
  flex: 0 0 2.8125rem;
>>>>>>> Stashed changes
}

.form_incell_long.etri_text > .form_field input.form_input {
  text-align: center;
}

.form_incell_short {
  flex: 0;
}

.form_inelse {
  display: inline-block;
  white-space: nowrap;
<<<<<<< Updated upstream
  font-size: 16px;
  color: #c5c5d0;
  padding: 0 10px;
=======
  font-size: 1rem;
  color: #c5c5d0;
  padding: 0 0.625rem;
>>>>>>> Stashed changes
}

.form_etri_text_w {
  flex: 1;
  display: flex;
<<<<<<< Updated upstream
  height: 42px;
  align-items: center;
  margin-left: 5px;
=======
  height: 2.625rem;
  align-items: center;
  margin-left: 0.3125rem;
>>>>>>> Stashed changes
}

.form_etri_text {
  flex: 1;
  display: block;
}

.form_etri_text:after {
  display: block;
  content: "";
<<<<<<< Updated upstream
  width: 8px;
  height: 8px;
=======
  width: 0.5rem;
  height: 0.5rem;
>>>>>>> Stashed changes
  margin: 0 auto;
  background: #111;
  border-radius: 100%;
}

.btn_select_call {
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #e0e0e5;
  width: 100%;
  position: relative;
  box-sizing: border-box;
<<<<<<< Updated upstream
  height: 42px;
=======
  height: 2.625rem;
>>>>>>> Stashed changes
}

.btn_select_call:after {
  display: block;
  content: "";
<<<<<<< Updated upstream
  width: 8px;
  height: 8px;
=======
  width: 0.5rem;
  height: 0.5rem;
>>>>>>> Stashed changes
  border-right: 2px solid #838289;
  border-bottom: 2px solid #838289;
  position: absolute;
  top: 50%;
<<<<<<< Updated upstream
  right: 7px;
  margin-top: -5px;
=======
  right: 0.4375rem;
  margin-top: -0.3125rem;
>>>>>>> Stashed changes
  transform: translateZ(0);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btn_select_call_in {
<<<<<<< Updated upstream
  font-size: 16px;
=======
  font-size: 1rem;
>>>>>>> Stashed changes
  color: #b4b6be;
  font-weight: bold;
}

.btn_select_call.active .btn_select_call_in {
  color: #111;
}

.btn_select_call.dtype2 {
<<<<<<< Updated upstream
  border-radius: 8px;
  border: 0.0625rem solid #e0e0e5;
  height: 44px;
  padding: 0 40px 0 20px;
}

.btn_select_call.dtype2:after {
  right: 20px;
  margin-top: -5px;
  width: 6px;
  height: 6px;
}

.btn_select_call.dtype2 .btn_select_call_in {
  font-size: 14px;
=======
  border-radius: 0.5rem;
  border: 0.0625rem solid #e0e0e5;
  height: 2.75rem;
  padding: 0 2.5rem 0 1.25rem;
}

.btn_select_call.dtype2:after {
  right: 1.25rem;
  margin-top: -0.3125rem;
  width: 0.375rem;
  height: 0.375rem;
}

.btn_select_call.dtype2 .btn_select_call_in {
  font-size: 0.875rem;
>>>>>>> Stashed changes
  font-weight: 400;
}

.btn_select_call.dtype2.active .btn_select_call_in {
  font-weight: bold;
}

.field_multi_fxwrap {
  display: flex;
  align-items: center;
}

.field_multi_fxwrap .form_field {
  border-bottom: 0;
}

.field_multi_fxwrap .btn_formsm {
  flex: 0;
}

.field_multi_fxwrap > input.form_input {
  flex: 1;
}

.field_multi_fxwrap.d_field .btn_fieldreset {
  display: none;
}

.field_multi_fxwrap.d_field input.form_input {
<<<<<<< Updated upstream
  font-size: 18px;
=======
  font-size: 1.125rem;
>>>>>>> Stashed changes
}

.field_multi_fxwrap.d_field.has_value .btn_fieldreset {
  display: block;
}

.multi_short {
  flex: 0;
<<<<<<< Updated upstream
  margin: 0 12px;
=======
  margin: 0 0.75rem;
>>>>>>> Stashed changes
}

.multi_short:last-of-type {
  margin-right: 0;
}

.btn_formsm {
  display: inline-block;
  white-space: nowrap;
  border: 0.0625rem solid #c5c5d0;
<<<<<<< Updated upstream
  border-radius: 8px;
  padding: 8px 15px 7px;
  font-size: 13px;
  color: #b4b6be;
  min-width: 70px;
  text-align: center;
  position: relative;
  top: -5px;
=======
  border-radius: 0.5rem;
  padding: 0.5rem 0.9375rem 0.4375rem;
  font-size: 0.8125rem;
  color: #b4b6be;
  min-width: 4.375rem;
  text-align: center;
  position: relative;
  top: -0.3125rem;
>>>>>>> Stashed changes
}

.btn_formsm.dtype2 {
  color: #4144f2;
  border-color: #4144f2;
}

.form_emptext {
<<<<<<< Updated upstream
  font-size: 16px;
=======
  font-size: 1rem;
>>>>>>> Stashed changes
  color: #4144f2;
  font-weight: bold;
}

.btn_fieldsearch {
  display: inline-block;
<<<<<<< Updated upstream
  width: 18px;
  height: 18px;
=======
  width: 1.125rem;
  height: 1.125rem;
>>>>>>> Stashed changes
  background: url("../images/ico_search.png") no-repeat 0 0/100% auto;
}

.btn_fieldsearch.multi_short {
<<<<<<< Updated upstream
  flex: 0 0 18px;
}

.form_funit {
  font-size: 16px;
=======
  flex: 0 0 1.125rem;
}

.form_funit {
  font-size: 1rem;
>>>>>>> Stashed changes
  color: #838289;
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
}

.chkrd_item {
  display: flex;
  line-height: 0;
  font-size: 0;
}

input[type=checkbox].chkrd {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  vertical-align: middle;
  background: url("../images/ico_check.png") no-repeat 50% 0/100% auto;
<<<<<<< Updated upstream
  width: 24px;
  height: 24px;
=======
  width: 1.5rem;
  height: 1.5rem;
>>>>>>> Stashed changes
  border-radius: 100%;
  border: 0.125rem solid #adadad;
  flex: 0 0 24px;
  box-sizing: border-box;
}

input[type=checkbox].chkrd:checked {
  border-color: #4144f2;
  background-color: #4144f2;
<<<<<<< Updated upstream
  background-position: 0 -20px;
}

.chkrd_label {
  font-size: 16px;
=======
  background-position: 0 -1.25rem;
}

.chkrd_label {
  font-size: 1rem;
>>>>>>> Stashed changes
  color: #111111;
  font-weight: bold;
  display: inline-block;
  line-height: 1.3;
<<<<<<< Updated upstream
  margin: 2px 0 0 8px;
=======
  margin: 0.125rem 0 0 0.5rem;
>>>>>>> Stashed changes
  vertical-align: middle;
  cursor: pointer;
}

.chkrd_sm_item {
  display: flex;
  line-height: 0;
  font-size: 0;
}

.chkrd_sm_label {
<<<<<<< Updated upstream
  margin-left: 18px;
  font-size: 14px;
=======
  margin-left: 1.125rem;
  font-size: 0.875rem;
>>>>>>> Stashed changes
  color: #838289;
  font-weight: bold;
  line-height: 1;
}

input.chkrd_sm {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  vertical-align: middle;
  background: url("../images/ico2_check.png") no-repeat 50% 0/100% auto;
<<<<<<< Updated upstream
  width: 14.5008px;
  height: 10.5008px;
  vertical-align: middle;
  flex: 0 0 14.5008px;
  position: relative;
  top: 2px;
}

input.chkrd_sm:checked {
  background-position: 0 -10.5008px;
}

.agree_chk_low {
  padding-bottom: 30px;
  margin-bottom: 30px;
=======
  width: 0.9063rem;
  height: 0.6563rem;
  vertical-align: middle;
  flex: 0 0 0.9063rem;
  position: relative;
  top: 0.125rem;
}

input.chkrd_sm:checked {
  background-position: 0 -0.6563rem;
}

.agree_chk_low {
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
>>>>>>> Stashed changes
  border-bottom: 0.0625rem solid #efefef;
}

.agree_chk_low:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}

.agree_chkcopy {
<<<<<<< Updated upstream
  font-size: 12px;
=======
  font-size: 0.75rem;
>>>>>>> Stashed changes
  color: #838289;
  line-height: 1.5;
}

.agree_sigchk_low .chkrd_item .chkrd_label {
<<<<<<< Updated upstream
  margin-left: 15px;
}

.agree_subchk_low_zone {
  margin-top: 35px;
}

.agree_subchk_low {
  margin-bottom: 20px;
=======
  margin-left: 0.9375rem;
}

.agree_subchk_low_zone {
  margin-top: 2.1875rem;
}

.agree_subchk_low {
  margin-bottom: 1.25rem;
>>>>>>> Stashed changes
  display: flex;
  justify-content: space-between;
}

.agree_subchk_low .chkrd_sm_item {
<<<<<<< Updated upstream
  padding-left: 5px;
}

.agree_subchk_low .chkrd_sm_item .chkrd_label {
  margin-left: 20px;
=======
  padding-left: 0.3125rem;
}

.agree_subchk_low .chkrd_sm_item .chkrd_label {
  margin-left: 1.25rem;
>>>>>>> Stashed changes
}

.agree_subchk_low:last-of-type {
  margin-bottom: 0;
}

.btn_allow_ico {
  display: inline-block;
<<<<<<< Updated upstream
  width: 16px;
  height: 16px;
  position: relative;
  left: 4px;
=======
  width: 1rem;
  height: 1rem;
  position: relative;
  left: 0.25rem;
>>>>>>> Stashed changes
}

.btn_allow_ico:after {
  display: block;
  content: "";
<<<<<<< Updated upstream
  width: 7px;
  height: 7px;
  border-right: 0.125rem solid #b4b6be;
  border-bottom: 0.125rem solid #b4b6be;
  position: absolute;
  top: 3px;
  right: 5px;
=======
  width: 0.4375rem;
  height: 0.4375rem;
  border-right: 0.125rem solid #b4b6be;
  border-bottom: 0.125rem solid #b4b6be;
  position: absolute;
  top: 0.1875rem;
  right: 0.3125rem;
>>>>>>> Stashed changes
  transform: translateZ(0);
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.form_copy_z {
<<<<<<< Updated upstream
  margin-bottom: 40px;
}

.sig_form_copy {
  font-size: 22px;
=======
  margin-bottom: 2.5rem;
}

.sig_form_copy {
  font-size: 1.375rem;
>>>>>>> Stashed changes
  color: #111;
  font-weight: bold;
  line-height: 1.3;
}

.sig_form_copy strong {
  font-family: "NEXON Lv2 Gothic Bold";
}

.sub_form_copy {
<<<<<<< Updated upstream
  font-size: 12px;
  color: #838289;
  margin-top: 13px;
}

.btn_fieldreset.multi_short {
  flex: 0 0 18px;
=======
  font-size: 0.75rem;
  color: #838289;
  margin-top: 0.8125rem;
}

.btn_fieldreset.multi_short {
  flex: 0 0 1.125rem;
>>>>>>> Stashed changes
}

.btn_fieldreset {
  display: inline-block;
<<<<<<< Updated upstream
  width: 18px;
  height: 18px;
=======
  width: 1.125rem;
  height: 1.125rem;
>>>>>>> Stashed changes
  font-size: 0;
  line-height: 0;
  position: relative;
}

.btn_fieldreset:before,
.btn_fieldreset:after {
<<<<<<< Updated upstream
  width: 18px;
=======
  width: 1.125rem;
>>>>>>> Stashed changes
  height: 1px;
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #828689;
<<<<<<< Updated upstream
  margin: -0.5008px 0 0 -9px;
=======
  margin: -0.0313rem 0 0 -0.5625rem;
>>>>>>> Stashed changes
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
}

.btn_fieldreset:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btn_fieldreset:after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.form_autoguide_zone {
<<<<<<< Updated upstream
  margin-top: 20px;
=======
  margin-top: 1.25rem;
>>>>>>> Stashed changes
}

.form_autoguide_box {
  background: #4144f2;
<<<<<<< Updated upstream
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}

.form_autoguide_boxin {
  font-size: 14px;
  color: #fff;
  position: relative;
  padding-right: 20px;
=======
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.625rem;
}

.form_autoguide_boxin {
  font-size: 0.875rem;
  color: #fff;
  position: relative;
  padding-right: 1.25rem;
>>>>>>> Stashed changes
}

.form_autoguide_boxin:after {
  display: block;
  content: "";
<<<<<<< Updated upstream
  width: 7px;
  height: 7px;
  border-right: 0.125rem solid #fff;
  border-bottom: 0.125rem solid #fff;
  position: absolute;
  top: 3px;
=======
  width: 0.4375rem;
  height: 0.4375rem;
  border-right: 0.125rem solid #fff;
  border-bottom: 0.125rem solid #fff;
  position: absolute;
  top: 0.1875rem;
>>>>>>> Stashed changes
  right: 0;
  transform: translateZ(0);
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.autoguide_vlist {
<<<<<<< Updated upstream
  margin-top: 30px;
}

.autoguide_vlist > li {
  margin-bottom: 34px;
}

.autoguide_vlist > li.nodata_li {
  margin: 128px 0 0 0;
=======
  margin-top: 1.875rem;
}

.autoguide_vlist > li {
  margin-bottom: 2.125rem;
}

.autoguide_vlist > li.nodata_li {
  margin: 8rem 0 0 0;
>>>>>>> Stashed changes
  text-align: center;
}

.nodata_searchitem::before {
  display: block;
  content: "";
<<<<<<< Updated upstream
  width: 91px;
  height: 91px;
=======
  width: 5.6875rem;
  height: 5.6875rem;
>>>>>>> Stashed changes
  background: url("../images/ico_nodata.png") no-repeat 50% 50%/100% auto;
  margin: 0 auto;
}

.nodata_search_text {
  font-size: 0.875rem;
  color: #838289;
  line-height: 1.3;
<<<<<<< Updated upstream
  margin-top: 36px;
=======
  margin-top: 2.25rem;
>>>>>>> Stashed changes
  font-weight: bold;
}

.autoguide_vlist > li:last-of-type {
  margin-bottom: 0;
}

vtform_list .autoguide_vitem {
  display: block;
}

.autogide_vtitle {
<<<<<<< Updated upstream
  font-size: 16px;
=======
  font-size: 1rem;
>>>>>>> Stashed changes
  color: #111;
  font-weight: bold;
}

.autogide_vsub {
<<<<<<< Updated upstream
  font-size: 13px;
  color: #838289;
  margin-top: 8px;
=======
  font-size: 0.8125rem;
  color: #838289;
  margin-top: 0.5rem;
>>>>>>> Stashed changes
}

.autogide_vsub2 {
  color: #7f81f2;
<<<<<<< Updated upstream
  font-size: 14px;
  line-height: 1;
  margin-top: 8px;
}

.vtform_list.dtype2 .vtform_low {
  margin-bottom: 28px;
  padding-bottom: 28px;
=======
  font-size: 0.875rem;
  line-height: 1;
  margin-top: 0.5rem;
}

.vtform_list.dtype2 .vtform_low {
  margin-bottom: 1.75rem;
  padding-bottom: 1.75rem;
>>>>>>> Stashed changes
  border-bottom: 0.0625rem solid #efefef;
}

.vtform_list.dtype2 .vtform_low:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.vtform_low {
<<<<<<< Updated upstream
  margin-bottom: 30px;
=======
  margin-bottom: 1.875rem;
>>>>>>> Stashed changes
}

.vtform_low:last-of-type {
  margin-bottom: 0;
}

.vtform_titlow {
<<<<<<< Updated upstream
  margin-bottom: 16px;
}

.vtform_tit {
  font-size: 16px;
=======
  margin-bottom: 1rem;
}

.vtform_tit {
  font-size: 1rem;
>>>>>>> Stashed changes
  line-height: 1;
  font-weight: bold;
  color: #111;
}

.cbox_formitem_w {
  display: flex;
  flex-wrap: wrap;
<<<<<<< Updated upstream
  margin: -5px;
=======
  margin: -0.3125rem;
>>>>>>> Stashed changes
}

.cbox_formitem {
  line-height: 0;
  font-size: 0;
  flex: 0 0 33.3333333333%;
  text-align: center;
  box-sizing: border-box;
<<<<<<< Updated upstream
  padding: 5px;
=======
  padding: 0.3125rem;
>>>>>>> Stashed changes
}

.cbox_formitem_w.wtype2 .cbox_formitem {
  flex-basis: 50%;
}

input.nvis_item,
input.cbox_input {
  display: inline;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.cbox_label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< Updated upstream
  font-size: 14px;
=======
  font-size: 0.875rem;
>>>>>>> Stashed changes
  color: #111;
  box-sizing: border-box;
  height: 100%;
  border: 0.0625rem solid #e0e0e5;
<<<<<<< Updated upstream
  border-radius: 30px;
  line-height: 1.3;
  padding: 17px 17px 16px;
=======
  border-radius: 1.875rem;
  line-height: 1.3;
  padding: 1.0625rem 1.0625rem 1rem;
>>>>>>> Stashed changes
}

input.cbox_input:checked + .cbox_label {
  color: #fff;
  background: #4144f2;
  border-color: #4144f2;
}

.hor_formbox {
  border: 0.0625rem solid #e0e0e5;
<<<<<<< Updated upstream
  border-radius: 8px;
  display: flex;
  height: 44px;
=======
  border-radius: 0.5rem;
  display: flex;
  height: 2.75rem;
>>>>>>> Stashed changes
  box-sizing: border-box;
  align-items: center;
}

input.hor_forminput {
  flex: 1;
  border: 0;
<<<<<<< Updated upstream
  height: 42px;
=======
  height: 2.625rem;
>>>>>>> Stashed changes
  line-height: 1;
  box-sizing: border-box;
  width: 100%;
  background: none;
<<<<<<< Updated upstream
  font-size: 14px;
  padding: 0 20px;
=======
  font-size: 0.875rem;
  padding: 0 1.25rem;
>>>>>>> Stashed changes
  font-weight: bold;
}

input.hor_forminput::-webkit-input-placeholder {
  color: #c5c5d0;
  font-weight: normal;
}

input.hor_forminput::-moz-input-placeholder {
  color: #c5c5d0;
  font-weight: normal;
}

input.hor_forminput:-ms-input-placeholder {
  color: #c5c5d0;
  font-weight: normal;
}

input.hor_forminput::-ms-input-placeholder {
  color: #c5c5d0;
  font-weight: normal;
}

input.hor_forminput::input-placeholder {
  color: #c5c5d0;
  font-weight: normal;
}

.hor_formunit {
  flex: 0;
  display: inline-block;
  white-space: nowrap;
<<<<<<< Updated upstream
  font-size: 14px;
  color: #838289;
  font-weight: bold;
  padding: 0 20px;
=======
  font-size: 0.875rem;
  color: #838289;
  font-weight: bold;
  padding: 0 1.25rem;
>>>>>>> Stashed changes
  line-height: 1;
}

.linux .hor_formunit {
<<<<<<< Updated upstream
  padding: 3px 20px 0;
=======
  padding: 0.1875rem 1.25rem 0;
>>>>>>> Stashed changes
}

.select_date_item.active .input_date_label,
.select_date_item.active .input_date_label {
  display: none;
}

.select_date_item.active input.input_date,
.select_date_item.active input.input_date {
  opacity: 1;
}

.select_date_item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
<<<<<<< Updated upstream
  border-radius: 8px;
=======
  border-radius: 0.5rem;
>>>>>>> Stashed changes
  border: 0.0625rem solid #e0e0e5;
}

.select_date_item:after {
  display: block;
  content: "";
<<<<<<< Updated upstream
  width: 6px;
  height: 6px;
=======
  width: 0.375rem;
  height: 0.375rem;
>>>>>>> Stashed changes
  border-right: 2px solid #838289;
  border-bottom: 2px solid #838289;
  position: absolute;
  top: 50%;
<<<<<<< Updated upstream
  right: 20px;
  margin-top: -5px;
=======
  right: 1.25rem;
  margin-top: -0.3125rem;
>>>>>>> Stashed changes
  transform: translateZ(0);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select_date_item.active input.input_date {
  color: #111;
}

input.input_date {
  background: none;
  opacity: 0;
  color: #111;
  font-weight: bold;
<<<<<<< Updated upstream
  font-size: 14px;
  height: 42px;
  padding: 0 40px 0 20px;
=======
  font-size: 0.875rem;
  z-index: 5;
  height: 2.625rem;
  padding: 0 2.5rem 0 1.25rem;
>>>>>>> Stashed changes
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: 0;
  width: 100%;
  box-sizing: border-box;
}

input.input_date::-webkit-calendar-picker-indicator {
  display: none;
}

.input_date_label {
  color: #c5c5d0;
  font-weight: normal;
<<<<<<< Updated upstream
  font-size: 14px;
=======
  font-size: 0.875rem;
>>>>>>> Stashed changes
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
<<<<<<< Updated upstream
  padding: 0 20px;
=======
  padding: 0 1.25rem;
>>>>>>> Stashed changes
  line-height: 1;
}

.add_formlow {
<<<<<<< Updated upstream
  margin-top: 23px;
=======
  margin-top: 1.4375rem;
>>>>>>> Stashed changes
}

.ico_formitem_w {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
<<<<<<< Updated upstream
  margin: 0 -12px -20px;
=======
  margin: 0 -0.75rem -1.25rem;
>>>>>>> Stashed changes
}

.ico_formitem {
  flex: 0 0 25%;
<<<<<<< Updated upstream
  padding: 0 12px 20px;
=======
  padding: 0 0.75rem 1.25rem;
>>>>>>> Stashed changes
  box-sizing: border-box;
}

.ico_formlabel {
  display: block;
}

.ico_formlabel:before {
  display: block;
  content: "";
  height: 0;
  padding-bottom: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
}

.ico_formlabel_in {
<<<<<<< Updated upstream
  font-size: 13px;
  color: #838289;
  display: block;
  font-weight: bold;
  margin: 10px -12px 0;
=======
  font-size: 0.8125rem;
  color: #838289;
  display: block;
  font-weight: bold;
  margin: 0.625rem -0.75rem 0;
>>>>>>> Stashed changes
}

.ico_formlabel.ico_cir01:before {
  background-image: url("../images/ico_ph01.png");
}

.ico_formlabel.ico_cir02:before {
  background-image: url("../images/ico_ph02.png");
}

.ico_formlabel.ico_cir03:before {
  background-image: url("../images/ico_ph03.png");
}

.ico_formlabel.ico_cir04:before {
  background-image: url("../images/ico_ph04.png");
}

.ico_formlabel.ico_cir05:before {
  background-image: url("../images/ico_ph05.png");
}

.ico_formlabel.ico_cir06:before {
  background-image: url("../images/ico_ph06.png");
}

.ico_formlabel.ico_cir07:before {
  background-image: url("../images/ico_ph07.png");
}

.ico_formlabel.ico_cir08:before {
  background-image: url("../images/ico_ph08.png");
}

.ico_formitem > input.nvis_item:checked + .ico_formlabel .ico_formlabel_in {
  color: #4144f2;
}

.ico_formitem > input.nvis_item:checked + .ico_formlabel:before {
  background-position: 0 100%;
}

/* form2 */
.page_fxsection {
<<<<<<< Updated upstream
  min-height: calc(100vh - 55px);
=======
  min-height: calc(100vh - 3.4375rem);
>>>>>>> Stashed changes
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

<<<<<<< Updated upstream
.pfx_bottom {
  margin-top: 1.875rem;
}

=======
>>>>>>> Stashed changes
.pfx_copy {
  text-align: center;
  padding-top: 2.0625rem;
}

.pfx_ctitle {
  font-size: 1.375rem;
  color: #111;
  line-height: 1;
  font-family: "NEXON Lv2 Gothic Bold";
}

.pfx_csub {
  font-size: 0.8125rem;
  color: #838289;
  margin-top: 0.75rem;
}

.pfx_dot_w {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2.6875rem;
}

.pfx_dot {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  box-sizing: border-box;
  border: 0.125rem solid #e0e0e5;
  background: #fff;
  border-radius: 100%;
  margin: 0 0.75rem;
}

.pfx_dot.active {
  background-color: #4144f2;
  border-color: #4144f2;
}

.pfx_orgin_input_w {
  display: none;
}

.btn_pfx_low {
  display: flex;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 1.875rem;
  margin-bottom: 1.25rem;
}

.btn_pfx_low .btn_smquadbox {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btn_smquadbox {
<<<<<<< Updated upstream
  font-size: 13px;
=======
  font-size: 0.8125rem;
>>>>>>> Stashed changes
  color: #4144f2;
  border: 1px solid #4144f2;
  border-radius: 0.5rem;
  padding: 0.6875rem 0 0.625rem;
  line-height: 1;
  margin: 0 0.375rem;
  font-weight: bold;
}

.pfx_numkeyboard {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.pnum_key {
  flex: 0 0 33.3333333333%;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
}

.pnum_key.define_num {
<<<<<<< Updated upstream
  font-size: 22px;
=======
  font-size: 1.375rem;
>>>>>>> Stashed changes
  color: #111111;
  font-family: "NEXON Lv2 Gothic Bold";
  line-height: 1;
}

.pnum_key.define_text {
<<<<<<< Updated upstream
  font-size: 16px;
=======
  font-size: 1rem;
>>>>>>> Stashed changes
  color: #111111;
  font-family: "NEXON Lv2 Gothic Bold";
  line-height: 1;
}

.pnum_key.define_ico {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pnum_key.define_ico.ico_back {
  background-image: url("../images/btn_backdel.png");
<<<<<<< Updated upstream
  background-size: 40px auto;
=======
  background-size: 2.5rem auto;
}

.pnum_key.define_ico.ico_fingerprint {
  background-image: url("../images/ico_fingerprint.png");
  background-size: 2.125rem auto;
}

.pnum_key.define_ico.ico_face {
  background-image: url("../images/obj_face.png");
  background-size: 1.8125rem auto;
}

.pfx_warnlow {
  text-align: center;
}

.pfx_warn01 {
  font-size: 0.8125rem;
  color: #e14e55;
  font-weight: bold;
}

.pfx_warn01:before {
  display: block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto 0.75rem;
  background: url("../images/ico_warn.png") no-repeat 0 0/100% auto;
}

.pfx_warn02 {
  font-size: 0.8125rem;
  color: #838289;
  margin-top: 0.125rem;
>>>>>>> Stashed changes
}

/* design */
.ico_column_w {
  text-align: center;
<<<<<<< Updated upstream
  margin-top: 120px;
}
.ico_column_w.type2 {
  margin-top: 110px;
=======
  margin-top: 7.5rem;
}
.ico_column_w.type2 {
  margin-top: 6.875rem;
>>>>>>> Stashed changes
}

.ico_obj_w {
  margin: 0 auto;
}
.ico_obj_w.ico_bell {
<<<<<<< Updated upstream
  max-width: 140px;
=======
  max-width: 8.75rem;
>>>>>>> Stashed changes
}
.ico_obj_w.ico_bell .ico_obj {
  background-image: url("../images/obj_bell_notice.png");
  padding-bottom: 86.4285714286%;
}
.ico_obj_w.ico_phone {
<<<<<<< Updated upstream
  max-width: 120px;
=======
  max-width: 7.5rem;
>>>>>>> Stashed changes
}
.ico_obj_w.ico_phone .ico_obj {
  background-image: url("../images/bio_obj.png");
  padding-bottom: 116.6666666667%;
}

.ico_obj {
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.ico_copy_w {
<<<<<<< Updated upstream
  margin-top: 40px;
}
.ico_copy_w.type2 {
  margin-top: 34px;
=======
  margin-top: 2.5rem;
}
.ico_copy_w.type2 {
  margin-top: 2.125rem;
>>>>>>> Stashed changes
}

.ico_copyonly {
  color: #111;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: bold;
}

.ico_copyonly strong {
  font-family: "NEXON Lv2 Gothic Bold";
}

.ico_copy01 {
  color: #111;
<<<<<<< Updated upstream
  font-size: 24px;
=======
  font-size: 1.5rem;
>>>>>>> Stashed changes
  font-family: "NEXON Lv2 Gothic Bold";
}

.ico_copy02 {
<<<<<<< Updated upstream
  margin-top: 15px;
  font-size: 13px;
  line-height: 1.5;
  color: #838289;
  margin-top: 20px;
}

.pmid_sigcopy {
  font-size: 12px;
  color: #838289;
  text-align: center;
  line-height: 1.5;
  margin: 0 24px 24px;
}

.nhis_vlist > li {
  margin-bottom: 16px;
=======
  margin-top: 0.9375rem;
  font-size: 0.8125rem;
  line-height: 1.5;
  color: #838289;
  margin-top: 1.25rem;
}

.pmid_sigcopy {
  font-size: 0.75rem;
  color: #838289;
  text-align: center;
  line-height: 1.5;
  margin: 0 1.5rem 1.5rem;
}

.nhis_vlist > li {
  margin-bottom: 1rem;
>>>>>>> Stashed changes
}

.nhis_vlist > li:last-of-type {
  margin-bottom: 0;
}

.nhis_vitem {
  background: #fff;
  position: relative;
<<<<<<< Updated upstream
  padding: 24px 20px;
  border-radius: 16px;
  display: flex;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.04);
}

.nhis_ico {
  flex: 0 0 36px;
  display: block;
  width: 36px;
  height: 36px;
=======
  padding: 1.5rem 1.25rem;
  border-radius: 1rem;
  display: flex;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.04);
}

.nhis_ico {
  flex: 0 0 2.25rem;
  display: block;
  width: 2.25rem;
  height: 2.25rem;
>>>>>>> Stashed changes
  background: #4144f2 url("../images/ico_ncir01.png") no-repeat 0 0/100% auto;
  border-radius: 100%;
}

.nhis_ico.ico_02 {
  background-image: url("../images/ico_ncir02.png");
}

.nhis_ico.ico_03 {
  background-image: url("../images/ico_ncir03.png");
}

.nhis_spec_w {
<<<<<<< Updated upstream
  margin: 0 0 0 12px;
=======
  margin: 0 0 0 0.75rem;
>>>>>>> Stashed changes
  color: #111111;
}

.nhis_spec01 {
<<<<<<< Updated upstream
  font-size: 13px;
=======
  font-size: 0.8125rem;
>>>>>>> Stashed changes
  font-weight: bold;
}

.nhis_spec02 {
<<<<<<< Updated upstream
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
=======
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: 0.3125rem;
>>>>>>> Stashed changes
}

.nhis_kind {
  display: inline-block;
  color: #4144f2;
<<<<<<< Updated upstream
  margin-right: 7px;
=======
  margin-right: 0.4375rem;
>>>>>>> Stashed changes
}

.btn_nhisclose {
  display: block;
<<<<<<< Updated upstream
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
=======
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
>>>>>>> Stashed changes
  font-size: 0;
  line-height: 0;
}

.btn_nhisclose:before,
.btn_nhisclose:after {
<<<<<<< Updated upstream
  width: 10px;
  height: 2px;
=======
  width: 0.625rem;
  height: 0.125rem;
>>>>>>> Stashed changes
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #c5c5d0;
<<<<<<< Updated upstream
  margin: -1px 0 0 -5px;
=======
  margin: -0.0625rem 0 0 -0.3125rem;
>>>>>>> Stashed changes
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
}

.btn_nhisclose:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btn_nhisclose:after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.chart_wbox {
<<<<<<< Updated upstream
  border-radius: 16px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding: 30px;
}

.chart_vbox {
  max-width: 170px;
=======
  border-radius: 1rem;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding: 1.875rem;
}

.chart_vbox {
  max-width: 10.625rem;
>>>>>>> Stashed changes
  margin: 0 auto;
  position: relative;
}

.chart_zone {
  position: relative;
}

.chart_zone > img {
  vertical-align: top;
}

.chart_vspec_w {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
<<<<<<< Updated upstream
  padding-top: 10px;
=======
  padding-top: 0.625rem;
>>>>>>> Stashed changes
}

.chart_vspec_label {
  color: #000;
<<<<<<< Updated upstream
  font-size: 12px;
  margin-bottom: 7px;
=======
  font-size: 0.75rem;
  margin-bottom: 0.4375rem;
>>>>>>> Stashed changes
}

.chart_vspec_value_w {
  line-height: 1;
<<<<<<< Updated upstream
  font-size: 24px;
=======
  font-size: 1.5rem;
>>>>>>> Stashed changes
  letter-spacing: -0.0625rem;
  color: #000;
}

.chart_text_value {
  display: inline-block;
  font-family: "NEXON Lv2 Gothic Bold";
}

.chart_text_unit {
  display: inline-block;
}

.chart_else_hlist {
  display: flex;
  text-align: center;
<<<<<<< Updated upstream
  margin-top: 26px;
=======
  margin-top: 1.625rem;
>>>>>>> Stashed changes
}

.chart_else_hlist > li {
  flex: 1;
  border-right: 0.0625rem solid #efefef;
}

.chart_else_hlist > li:last-of-type {
  border-right: 0;
}

.chart_else_value_w {
<<<<<<< Updated upstream
  font-size: 22px;
=======
  font-size: 1.375rem;
>>>>>>> Stashed changes
  line-height: 1;
  color: #111;
}

.chart_else_value {
  font-family: "NEXON Lv2 Gothic Bold";
}

.chart_else_unit {
  font-family: "NEXON Lv2 Gothic Light";
}

.chart_else_label {
<<<<<<< Updated upstream
  font-size: 13px;
  line-height: 1;
  color: #838289;
  margin-top: 10px;
}

.btn_nposquad_w {
  margin-top: 40px;
}

.page_guide_tit {
  font-size: 14px;
=======
  font-size: 0.8125rem;
  line-height: 1;
  color: #838289;
  margin-top: 0.625rem;
}

.btn_nposquad_w {
  margin-top: 2.5rem;
}

.page_guide_tit {
  font-size: 0.875rem;
>>>>>>> Stashed changes
  color: #111;
  line-height: 1;
  font-weight: bold;
}

.page_guide_cont {
<<<<<<< Updated upstream
  margin-top: 20px;
}

.vdash_list {
  font-size: 11px;
=======
  margin-top: 1.25rem;
}

.vdash_list {
  font-size: 0.6875rem;
>>>>>>> Stashed changes
  line-height: 1.5;
  color: #838289;
}

.vdash_list > li {
  position: relative;
<<<<<<< Updated upstream
  padding-left: 10px;
  margin-bottom: 15px;
=======
  padding-left: 0.625rem;
  margin-bottom: 0.9375rem;
>>>>>>> Stashed changes
}

.vdash_list > li:before {
  display: block;
  content: "-";
  position: absolute;
<<<<<<< Updated upstream
  top: 2px;
  left: 0;
  font-size: 10px;
=======
  top: 0.125rem;
  left: 0;
  font-size: 0.625rem;
>>>>>>> Stashed changes
}

.vdash_list > li:last-of-type {
  margin-bottom: 0;
}

.btn_bquadbox {
  display: block;
  width: 100%;
<<<<<<< Updated upstream
  padding: 15px;
=======
  padding: 0.9375rem;
>>>>>>> Stashed changes
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background: #4144f2;
<<<<<<< Updated upstream
  border-radius: 12px 12px 0 0;
}

.bquadbox_in {
  font-size: 18px;
  color: #fff;
  line-height: 1;
  font-family: "NEXON Lv2 Gothic Bold";
  padding-right: 20px;
=======
  border-radius: 0.75rem 0.75rem 0 0;
}

.bquadbox_in {
  font-size: 1.125rem;
  color: #fff;
  line-height: 1;
  font-family: "NEXON Lv2 Gothic Bold";
  padding-right: 1.25rem;
>>>>>>> Stashed changes
  position: relative;
}

.bquadbox_in:after {
  display: block;
  content: "";
  display: block;
  content: "";
<<<<<<< Updated upstream
  width: 9px;
  height: 9px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 3.5008px;
=======
  width: 0.5625rem;
  height: 0.5625rem;
  border-right: 0.125rem solid #fff;
  border-bottom: 0.125rem solid #fff;
  position: absolute;
  top: 0.2188rem;
>>>>>>> Stashed changes
  right: 0;
  transform: translateZ(0);
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.btn_bquadbox.type2 .bquadbox_in {
  padding-right: 0;
}

.btn_bquadbox.type2 .bquadbox_in:after {
  display: none;
}

.page_guide_vitem {
<<<<<<< Updated upstream
  margin-bottom: 40px;
=======
  margin-bottom: 2.5rem;
>>>>>>> Stashed changes
}

.page_guide_vitem:last-of-type {
  margin-bottom: 0;
}

.vitem_list {
<<<<<<< Updated upstream
  font-size: 11px;
=======
  font-size: 0.6875rem;
>>>>>>> Stashed changes
  line-height: 1.5;
  color: #838289;
}

.vitem_list > li {
<<<<<<< Updated upstream
  margin-bottom: 15px;
=======
  margin-bottom: 0.9375rem;
>>>>>>> Stashed changes
}

.vitem_list > li:last-of-type {
  margin-bottom: 0;
}

.vdot_list {
<<<<<<< Updated upstream
  font-size: 11px;
=======
  font-size: 0.6875rem;
>>>>>>> Stashed changes
  line-height: 1.5;
  color: #838289;
}

.vdot_list > li {
  position: relative;
<<<<<<< Updated upstream
  padding-left: 7px;
  margin-bottom: 15px;
=======
  padding-left: 0.4375rem;
  margin-bottom: 0.9375rem;
>>>>>>> Stashed changes
}

.vdot_list > li:before {
  display: block;
  content: "";
  position: absolute;
<<<<<<< Updated upstream
  top: 6px;
  left: 0;
  background: #838289;
  width: 3px;
  height: 3px;
=======
  top: 0.375rem;
  left: 0;
  background: #838289;
  width: 0.1875rem;
  height: 0.1875rem;
>>>>>>> Stashed changes
  border-radius: 100%;
}

.vdot_list > li:last-of-type {
  margin-bottom: 0;
}

.define_botguide {
  font-weight: bold;
  color: #47474b;
<<<<<<< Updated upstream
  margin-top: 43px;
}

.desbox_vitem {
  padding: 32px 20px 32px;
  border-bottom: 8px solid #ededf8;
=======
  margin-top: 2.6875rem;
}

.desbox_vitem {
  padding: 2rem 1.25rem 2rem;
  border-bottom: 0.5rem solid #ededf8;
>>>>>>> Stashed changes
}

.desbox_vitem:first-of-type {
  padding-top: 0;
}

.desbox_vitem:last-of-type {
  border-bottom: 0;
}

.des_siginner {
<<<<<<< Updated upstream
  background: url("../images/obj_optimum.png") no-repeat 100% 0/156px auto;
}

.desbox_sigtitle {
  font-size: 26px;
=======
  background: url("../images/obj_optimum.png") no-repeat 100% 0/9.75rem auto;
}

.desbox_sigtitle {
  font-size: 1.625rem;
>>>>>>> Stashed changes
  color: #111;
  line-height: 1;
  font-weight: bold;
}

.desbox_sigtitle strong {
  font-family: "NEXON Lv2 Gothic Bold";
  font-weight: normal;
}

.desbox_subcopy {
<<<<<<< Updated upstream
  font-size: 14px;
  color: #111;
  margin-top: 15px;
}

.des_intro_lk_zone {
  margin-top: 40px;
}

.des_lk_guidetext {
  font-size: 12px;
  color: #838289;
  line-height: 1;
  position: relative;
  padding-left: 11px;
=======
  font-size: 0.875rem;
  color: #111;
  margin-top: 0.9375rem;
}

.des_intro_lk_zone {
  margin-top: 2.5rem;
}

.des_lk_guidetext {
  font-size: 0.75rem;
  color: #838289;
  line-height: 1;
  position: relative;
  padding-left: 0.6875rem;
>>>>>>> Stashed changes
}

.des_lk_guidetext:before {
  display: block;
  content: "";
<<<<<<< Updated upstream
  width: 6px;
  height: 6px;
  background-color: #fc5e18;
  border-radius: 100%;
  position: absolute;
  top: 2px;
=======
  width: 0.375rem;
  height: 0.375rem;
  background-color: #fc5e18;
  border-radius: 100%;
  position: absolute;
  top: 0.125rem;
>>>>>>> Stashed changes
  left: 0;
}

.des_intro_vitem_w {
<<<<<<< Updated upstream
  margin-top: 18px;
}

.des_intro_vitem {
  border-radius: 16px;
  padding: 17px 24px;
  margin-bottom: 0.75rem;
  background: #fff url("../images/ico_optinum_01.png") no-repeat 100% 50%/97px auto;
=======
  margin-top: 1.125rem;
}

.des_intro_vitem {
  border-radius: 1rem;
  padding: 1.0625rem 1.5rem;
  margin-bottom: 0.75rem;
  background: #fff url("../images/ico_optinum_01.png") no-repeat 100% 50%/6.0625rem auto;
>>>>>>> Stashed changes
}

.des_intro_vitem.ico_type2 {
  background-position: 100% 50%;
  background-image: url("../images/ico_optinum_02.png");
}

.des_intro_vitem:last-of-type {
  margin-bottom: 0;
}

.des_intro_vlabel {
<<<<<<< Updated upstream
  font-size: 14px;
=======
  font-size: 0.875rem;
>>>>>>> Stashed changes
  color: #111;
  line-height: 1;
  font-weight: bold;
}

.des_intro_vdata {
  display: flex;
<<<<<<< Updated upstream
  font-size: 24px;
  color: #4144f2;
  line-height: 1;
  align-items: center;
  margin-top: 10px;
=======
  font-size: 1.5rem;
  color: #4144f2;
  line-height: 1;
  align-items: center;
  margin-top: 0.625rem;
>>>>>>> Stashed changes
}

.des_intro_value {
  display: inline-block;
  font-family: "GmarketSansBold";
}

.des_intro_unit {
  display: inline-block;
<<<<<<< Updated upstream
  margin-left: 5px;
=======
  margin-left: 0.3125rem;
>>>>>>> Stashed changes
}

.win .des_intro_value {
  position: relative;
  top: 0.0625rem;
}

.desbox_vtitle {
<<<<<<< Updated upstream
  font-size: 16px;
=======
  font-size: 1rem;
>>>>>>> Stashed changes
  color: #111111;
  font-family: "NEXON Lv2 Gothic Bold";
}

.desbox_vcitem_w {
<<<<<<< Updated upstream
  margin-top: 24px;
}

.desbox_vcitem {
  margin-bottom: 35px;
=======
  margin-top: 1.5rem;
}

.desbox_vcitem {
  margin-bottom: 2.1875rem;
>>>>>>> Stashed changes
}

.desbox_vcitem:last-of-type {
  margin-bottom: 0;
}

.desbox_vctitle {
  font-size: 0.875rem;
  color: #111111;
  line-height: 1;
  font-weight: bold;
}

.desbox_vcont {
<<<<<<< Updated upstream
  margin-top: 16px;
=======
  margin-top: 1rem;
>>>>>>> Stashed changes
}

.imgthumlogo_flist {
  display: flex;
  flex-wrap: wrap;
<<<<<<< Updated upstream
  margin-top: -12px;
=======
  margin-top: -0.75rem;
>>>>>>> Stashed changes
}

.imgthumlogo_flist > li {
  flex: 0 0 50%;
<<<<<<< Updated upstream
  margin-top: 12px;
=======
  margin-top: 0.75rem;
>>>>>>> Stashed changes
}

.imgthumlogo_fitem {
  display: flex;
<<<<<<< Updated upstream
  padding-right: 10px;
}

.imgthumlogo {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
=======
  padding-right: 0.625rem;
}

.imgthumlogo {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
>>>>>>> Stashed changes
}

.imgthumlogo > img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.imgthumlogo_text {
  flex: 1;
<<<<<<< Updated upstream
  font-size: 12px;
  color: #111;
  line-height: 1.3;
  padding: 5px 0 0 8px;
=======
  font-size: 0.75rem;
  color: #111;
  line-height: 1.3;
  padding: 0.3125rem 0 0 0.5rem;
>>>>>>> Stashed changes
}
/*# sourceMappingURL=style.css.map */
